<div class="modal inmodal" id="quizModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				<i class="fa fa-question modal-icon"></i>
				<h4 class="modal-title">Comenzar Quiz</h4>
			</div>
			<div class="modal-body">
				<p>
					<strong>Instrucciones del Quiz: </strong>Preguntas de selección simple, solo se podrá selccionar una opcion, una vez elija presentar no se podrán devolver los cambios, ¡ÉXITO!
				</p>
			</div>
				<div class="modal-footer">
				@using (Html.BeginForm("TakeQuizFirst", "Evaluations", FormMethod.Post, new { role = "form", id = "form" }))
				{
					<input type="hidden" value="" name="Id" id="takeQuiz"/>
					<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
					<input type="submit" value="Presentar Quiz" class="btn btn-primary btn-sm" />
				}				
				</div>
		</div>
	</div>
</div>