<div class="modal inmodal" id="enableSimulation" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				<i class="fa fa-connectdevelop modal-icon"></i>
				<h4 class="modal-title">Activar Simulación</h4>
			</div>
			<div class="modal-body">
				<p>
					<strong>Activar Simulación:</strong> Aceptando la siguiente activación empezará o continuará la simulación del caso de estudio, es recomendado haber coordinado con los grupos anteriormente. ¡ÉXITO!
				</p>
			</div>
			@using (Html.BeginForm("EnableSimulation", "Simulations", FormMethod.Post, new { role = "form" }))
			{
				<div class="modal-footer">
					@Html.Hidden("EnableId")
					<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Activar</button>
				</div>
			}			
		</div>
	</div>
</div>