@model IEnumerable<Tesis.ViewModels.ProductSell>
@foreach (var item in Model)
{
	<div class="form-group">
		@Html.Label(item.Product.Name, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => item.Quantity, new { htmlAttributes = new { @placeholder = "Cantidad Vendida", @Value = "" } })
			@Html.ValidationMessageFor(model => item.Quantity, "", new { @class = "text-danger" })
		</div>
	</div>
}