<div class="text-center animated fadeInDown">
	<h1>500</h1>
	<h3 class=font-bold>Error Interno del Servidor</h3>
	<div class=error-desc>
		El servidor ha encontrado un error inesperado que no permitió completar la petición. Pedimos disculpas.
		<br> Puede Volver a la página principal:
		<br>
		@if (User.IsInRole("Administrador"))
		{		
			@Html.ActionLink("Inicio", "Index", "Home")
		}		
	</div>
</div>
