<div class="modal inmodal fade" data-animation="bounce" id="instructions" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				<i class="fa fa-info-circle modal-icon"></i>
				<h4 class="modal-title">Instrucciones</h4>
			</div>
			<div class="modal-body">
				<p>
					<strong>¡Bienvenidos al modelo de gestión!</strong><br />
					Te encuentras en el panel principal del modelo de gestión, es aquí donde tú o tu grupo toman las decisiones de como gestionar el inventario para los distintos productos.
					Recuerda que esto es una actividad grupal y competitiva con los otros grupos pertenecientes a la sección, tus buenas decisiones en las ordenes evitarán que tengan penalizaciones y las malas
					incurrirán en penalizaciones, altos costos y un bajo lugar en la tabla.
				</p>
				<h4>Pasos para solicitar pedido</h4>
				<ul>
					<li>
						Revisar el panel de resultado por producto.
					</li>
					<li>
						Colocar la cantidad a ordenar.
					</li>
					<li>
						Visualiza los costos y tiempos de entrega.
					</li>
					<li>
						Selecciona. el método a ordenar
					</li>
				</ul>
				<h4>Reglas</h4>
				<ul>
					<li>
						Sólo se podrá ordenar una vez por período, una vez realizada las ordenes se procede a esperar que el profesor ingrese nueva demanda.
					</li>
					<li>
						Es permititdo no hacer ordenes de uno o ningún producto en un período.
					</li>
					<li>
						No existe límite de cantidad de producto para ordenar.
					</li>
					<li>
						Las ordenes no podrán ser revertidas.
					</li>
					<li>
						Unicamente se podrá seleccionar un método de orden
					</li>
					<li>
						No se podrán realizar ordenes a productos donde su tiempo de entrega vaya a ser en un periodo mayor al máximo establecido por el caso de estudio
					</li>
				</ul>
				<h4>Tips</h4>
				<ul>
					<li>
						Coordina con el administrador o profesor los momentos en que ingresará nueva demanda.
					</li>
					<li>
						Reúnete con tus compañeros de grupo antes de tomar una decisión, evita ser arbitrario y debate.
					</li>
					<li>
						Visualiza los reportes de las semanas anteriores para ver el comportamiento de las demandas.
					</li>
					<li>
						Revisa detenidamente el caso de estudio, recuerda que puedes acudir a esos datos cuando requieras.
					</li>
					<li>
						Revisa la sección de documentos, puedes toparte con material que ayude en el caso de estudio.
					</li>
					<li>
						Revisar la tabla de posiciones te puede ayudar a formar mejores estrategias, puedes ser mas arriesgado cuando estés muy bajo en la tabla
						o mas precavido si quieres mantener tu lugar.
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>