<div class="modal inmodal fade" data-animation="bounce" id="instructions" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				<i class="fa fa-info-circle modal-icon"></i>
				<h4 class="modal-title">Instrucciones</h4>
			</div>
			<div class="modal-body">
				<p>
					<strong>¡Bienvenidos al modelo de gestión!</strong><br />
					Te encuentras en el panel principal del modelo de gestión, es aquí donde tú o tu grupo toman las decisiones de como gestionar el inventario para los distintos productos.
					Recuerda que esto es una actividad grupal y competitiva con los otros grupos pertenecientes a la sección, tus buenas decisiones en las ordenes evitarán que tengan penalizaciones y las malas
					incurrirán en penalizaciones, altos costos y un bajo lugar en la tabla.
				</p>
				<h4>Pasos para solicitar pedido</h4>
				<ul>
					<li>

					</li>
				</ul>
				<h4>Reglas</h4>
				<ul>
					<li>

					</li>
				</ul>
				<h4>Tips</h4>
				<ul>
					<li>
						1)
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>