<div class="modal inmodal fade" data-animation="bounce" id="instructions" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				<i class="fa fa-connectdevelop modal-icon"></i>
				<h4 class="modal-title">Modelo de gestión</h4>
			</div>
			<div class="modal-body">
				<p>
					<strong>Lorem Ipsum is simply dummy</strong> Aquí se echa el cuento del caso de estudio se invita a chequear.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>