<div class="footer">
    <div class="pull-right">
        <img width="15" src="@Url.Content("/Content/images/logo-box.png")" alt="logo-box" />
        Teach Logistics
    </div>
    <div>
        <strong>Copyright</strong> Teach Logistics &copy; 2015
    </div>
</div>
