
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						Line Chart Example
						<small>With custom colors.</small>
					</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div>
						<canvas id="lineChart" height="140"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Bar Chart Example</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div>
						<canvas id="barChart" height="140"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/plugins/chartJs")
	@Scripts.Render("~/plugins/chartJsLegend")
	@Scripts.Render("~/bundles/Stadistics/index")
}
